* {
    margin: 0;
    box-sizing: border-box;
    color: #666;
    font-family: tahoma;
}

body {
    background-image: url('/img/background.jpg');
  }

.container{
    width: 980px;
    margin: 0 auto;

}

/* Header/logo tiêu đề */

header {
    padding-left: 30px;
    text-align: left;
    background-image: url('/img/backgroud-header.png');
    color: white;
    height: 120px;
    padding-top: 20px;
}


/* Tăng kích thước font chữ cho header */

header h1 {
    font-size: 40px;
}

header h1,
h2,
h3 {
    color: white;
}

nav{
    margin-bottom: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

nav ul li {
    float: left;
}

nav ul li a,
.dropbtn {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active),
.dropdown:hover .dropbtn {
    color: white;
    background-color: #fc3a3a;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Landing page */

.hideable-section {
    display: none;
}

.hideable-section:first-of-type {
    display: block;
}

article h3{
    text-align: center;
    padding: 15px 0;
    color: #f1f1f1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight:  bold;
}

article .news_list .news_item{
    width: 30%;
    padding: 2%;
    float: left;
    border: 2px solid #ccc;
    margin-right: 5%;
    background-color: white;
}
article .news_list .news_item h4{
    font-size: 16px;
    color:#ad3f00
}
article .news_list .news_item img{
    margin: 10px auto;
    
}

article .news_list .news_item .content{
    font-size:13px;
}
footer{
    background: #111;
    height: auto;
    width: 980px;
    padding-top: 40px;
    margin-top: 15px;
}
.footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.footer-content h3{
   font-size: 1.8rem;
   font-weight: 400;
   text-transform: capitalize;
   line-height: 3rem;
}

.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height:  28px;
   font-size: 14px;
}
.footer-bottom{
   background: #000;
   width:980px;
   padding: 20px -2;

}
.footer-bottom p{
   font-size: 14px;
   word-spacing: 2px;
   text-transform: uppercase;

}
#fix{
    margin-right: 0;
}

#slider {
    margin: 0 auto;
    width: 980px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 0px;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 400px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(/img/phai.svg) no-repeat;
    float:right;
    margin: -50 10px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(/img/trai.svg) no-repeat;
    float:left;
    margin: -50 0 0 10px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
  
#banner {
   
   height: auto;
   width: 980px;
}

#banner img{
   width: 980px;
}

#main{
   margin-top: 10px;
}
#main #left {
   width: 720px;
   float: left;
   min-height: 400px;
}

#main #left ul{
   margin: 0px;
   padding: 0px;

}
#main #left ul li{
   list-style: none;
   clear: left;
   border-bottom: 2px solid #ccc;
   float: left;
   margin-bottom: 20px;
}

#main #left ul li img{
   margin-right: 10px;
   margin-bottom: 20px;
   float: left;
}

#main #left ul li h2{
   font-size:  17px;
   float: left;
   margin-top: 15px;
   margin-bottom: 15px;
}

#main #right{
   width: 250px;
   min-height: 400px;
   float: left;
}

#main #right .menu_right ul{
   margin: 0px;
   padding: 0px;
}

#main #right .menu_right ul li{
   list-style:  none;

}

#main #right .menu_right h4{
   background:#f3f3f3 url(/img/icon.png) no-repeat 3px;
   height: 40px;
   margin-top: 0px;
   font-size: 15px;
   line-height: 40px;
   color: rgb(0, 0, 0);
   text-indent: 33px;
}
#main #right .menu_right ul li a{
   display: block;
   text-decoration: none;
   line-height: 37px;
   border-bottom: 1px solid #ccc;
   text-indent: 34px;
   background: url(/img/phai.png) no-repeat 3px;
   color:rgb(255, 255, 255);
   margin: 0px;
   height: 40px;
}
#main #right .menu_right ul li a:hover{
   color: #fc3a3a;
}

#main #left ul li h5{
   color:rgb(153, 153, 153);
   font-size: 14px;
}